<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="css/style/index.css" />
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://webapi.amap.com/maps?v=1.4.8&key=68aa6ce0aa3da10b36c6baed4fb2bc7a"></script>
		<title></title>
	</head>

	<body>
		<div class="wrapper index">
			<!--头部-->
			<div class="header">
				<div class="head-tab" @click="opennew('choiceorde')">
					<img src="img/index01.png" />
				</div>
				<div class="head-main">
					豆豆洗
				</div>
				<div class="head-tab" @click="opennew('newcenter')">
					<img src="img/index02.png" />
				</div>
			</div>
			<!--中间主体-->
			<div class="main">
				<div class="activity" v-if="activityboo">
					<img src="img/1.png" class="activity-img" />
					<div class="activity-hr"></div>
					<img src="img/closewhite.png" class="activity-close" @click="activityclose" />
				</div>
				<div id="container"></div>
				<div class="lately" v-show='!informbooo' @click="informshow(1)">最近云柜</div>
				<div class="inform-inner" v-if='informbooo' @click="informshow">
					<div class="inform">
						<div class="title">{{mydata[gid].pbPdName}}</div>
						<div class="range">距您约{{mydata[gid].pbPdAddress | myadress}}米</div>
						<div class="range">{{adress}}</div>
						<div class="star-box">
							<div class="star">
								<img src="img/Group 5@2x.png" v-for="mydata[gid].pbLeLevel" />
							</div>
							<div class="join" @click="opennew('nav',mydata[gid].pbPartnerDeviceId,mydata[gid].pbCommunityPartnerId)">立即进入</div>
						</div>
					</div>
				</div>
				<img src="img/go.png" @click="gocenter" class="gocenter" />
			</div>
			<!--底部-->
			<div class="bottom">
				<div class="bottom-tab myanm">
					<img src="img/bottom01-active.png" />
					<div class="bottom-text active">
						首页
					</div>
				</div>
				<div class="bottom-tab" @click="opennew('order')">
					<img src="img/bottom02.png" />
					<div class="bottom-text">
						订单
					</div>
				</div>
				<div class="bottom-tab" @click="opennew('usercenter')">
					<img src="img/bottom03.png" />
					<div class="bottom-text">
						我的
					</div>
				</div>
			</div>
		</div>
		<script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/url.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var myvue = new Vue({
				el: ".wrapper",
				data: {
					map: '',
					informbooo: false,
					gid: 0,
					mydata: '',
					adress: '',
					//					lng: 117.2717240000,
					//					lat: 34.2691060000,
					//					lng: 121.3524400000,
					//					lat: 31.2207200000,
					lng: 118.774048,
					lat: 31.827822,
					juli: 0,
					activityboo: false
				},
				mounted: function() {
					var that = this
					function plusReady() {
						plus.runtime.getProperty(plus.runtime.appid, function(inf) {
							$.ajax({
								type: "post",
								url: localStorage.getItem('myurl') + "/backstageCommunity/selectPbAppVersion",
								dataType: 'json',
								success: function(res) {
									if(res.data.pbAvUserCode != inf.version) {
										plus.nativeUI.showWaiting("下载更新资源包,请勿关闭页面！");
										plus.downloader.createDownload(localStorage.getItem('myurl') + res.data.pbAvUserUrl, {
											filename: "_doc/update/"
										}, function(d, status) {
											if(status == 200) {
												plus.runtime.install(d.filename, {}, function() {
													plus.nativeUI.closeWaiting();
													plus.nativeUI.alert("应用资源更新完成！点击重启！", function() {
														plus.runtime.restart();
													});
												}, function(e) {
													plus.nativeUI.closeWaiting();
													plus.nativeUI.alert("安装更新包失败[" + e.code + "]：" + e.message);
												});
											} else {
												plus.nativeUI.closeWaiting();
												plus.nativeUI.alert("下载更新包失败！");
											}
										}).start();
									} else {
										if(localStorage.getItem('usUserId') == null||localStorage.getItem('usUserId') == undefined||localStorage.getItem('usUserId') == 'null') {
											window.location.href = './mlogin.html'
											return false;
										} else {
											// 弹出系统等待对话框
											plus.nativeUI.showWaiting("地图生成中...");
											plus.geolocation.getCurrentPosition(function(p) {
												that.lng = p.coords.longitude
												that.lat = p.coords.latitude
												localStorage.setItem('lng', p.coords.longitude)
												localStorage.setItem('lat', p.coords.latitude)
												that.mapinit(that.lat, that.lng)
											}, function(e) {
													plus.nativeUI.confirm("请检查手机网络或者位置服务开关是否打开后", function(e){
														if (e.index==0) {
															if(mui.os.ios) {
																plus.runtime.launchApplication({
																	action: 'app-settings:'
																}, function(e) {}); //WIFI
															} else {
																var main = plus.android.runtimeMainActivity(); //获取activity
																var Intent = plus.android.importClass('android.content.Intent');
																var Settings = plus.android.importClass('android.provider.Settings');
																var intent = new Intent(Settings.ACTION_LOCATION_SOURCE_SETTINGS);//可设置表中所有Action字段
																main.startActivity(intent);
																plusReady()
															}
														} else{
															plusReady()
														}
													}, {"title":"定位失败",
														"buttons":["点我设置","点击重试"],
														"verticalAlign":"bottom"
													});
											});
										}
									}
								},
								error: function(err) {
									alert(JSON.stringify(err))
								}
							});
						});
					}
					if(window.plus) {
						plusReady();
					} else {
						document.addEventListener("plusready", plusReady, false);
					}
					localStorage.setItem('pbCoName', '')
				},
				methods: {
					activityclose: function() {
						this.activityboo = !this.activityboo
					},
					gocenter: function() {
						this.map.setZoomAndCenter(17, [this.lng, this.lat]);
					},
					opennew: function(target, id, id02) {
						plus.nativeUI.showWaiting()
						localStorage.setItem('pbPartnerDeviceId', id)
						localStorage.setItem('pbCommunityPartnerId', id02)
						mui.openWindow({
							url: './' + target + '.html',
							id: target,
							createNew: true
						})
						plus.nativeUI.closeWaiting()
					},
					informshow: function() {
						if(this.mydata != '') {
							this.informbooo = !this.informbooo
						} else {
							plus.nativeUI.toast('您附近暂无云柜！')
						}

					},
					mapinit: function(lng, lat) {
						var that = this
						this.map = new AMap.Map('container', {
							resizeEnable: true,
							rotateEnable: true,
							pitchEnable: true,
							zoom: 17,
							pitch: 50,
							rotation: -15,
							viewMode: '3D',
							buildingAnimation: true,
							center: [lat, lng],
							layers: [
								new AMap.TileLayer({}),
								new AMap.Buildings({
									zIndex: 100,
									merge: false,
									sort: false,
									zooms: [17, 20]
								})
							]
						});
						//添加点标记，并使用自己的icon
						var marker = new AMap.Marker({
							map: that.map,
							position: [lat, lng],
							icon: new AMap.Icon({
								size: new AMap.Size(27, 33),
								image: "./img/pin copy.png",
							})
						});
						//						获取最近的柜子
						$.ajax({
							type: "post",
							url: localStorage.getItem('myurl') + "/user/getDevices",
							dataType: 'json',
							data: {
								coordinate: that.lng + ',' + that.lat
							},
							success: function(res) {
								if(res.data != null) {
									that.mydata = res.data
									for(var i = 0; i < res.data.length; i++) {
										that.addmarker(res.data[i].pbPdAddress.substring(0, res.data[i].pbPdAddress.indexOf(',')), res.data[i].pbPdAddress.substr(res.data[i].pbPdAddress.indexOf(',') + 1), i, res.data[i].pbActivityTreasulrId)
									}
									AMap.service('AMap.Geocoder', function() {
										var lat = that.mydata[that.gid].pbPdAddress.substring(0, that.mydata[that.gid].pbPdAddress.indexOf(','))
										var lng = that.mydata[that.gid].pbPdAddress.substr(that.mydata[that.gid].pbPdAddress.indexOf(',') + 1)
										var lnglatXY = [lat, lng]
										geocoder = new AMap.Geocoder({
											city: "" //城市，默认：“全国”
										});
										geocoder.getAddress(lnglatXY, function(status, result) {
											if(status === 'complete' && result.info === 'OK') {
												that.adress = result.regeocode.formattedAddress
											} else {
												//获取地址失败
												console.log(result)
											}
										});
									})
								}
							},
							error: function(err) {
								alert(JSON.stringify(err))
							}
						});

						var _onClick = function(e) {
							localStorage.setItem('lng', e.lnglat.lng)
							localStorage.setItem('lat', e.lnglat.lat)
							that.lng = e.lnglat.lng
							that.lat = e.lnglat.lat
							that.mapinit(e.lnglat.lat, e.lnglat.lng)
						}
						AMap.event.addListener(that.map, "click", _onClick);

						function plusReady() {
							// 弹出系统等待对话框
							var w = plus.nativeUI.closeWaiting()
						}
						if(window.plus) {
							plusReady();
						} else {
							document.addEventListener("plusready", plusReady, false);
						}
					},
					addmarker: function(lat, lng, id, aid) {
						var that = this
						if(aid == null) {
							var marker = new AMap.Marker({
								position: new AMap.LngLat(lat, lng),
								offset: new AMap.Pixel(-10, -10),
								icon: './img/Group.png', // 添加 Icon 图标 URL
								title: id
							});
						} else {
							var marker = new AMap.Marker({
								position: new AMap.LngLat(lat, lng),
								offset: new AMap.Pixel(-10, -10),
								icon: './img/Groupred.png', // 添加 Icon 图标 URL
								title: id
							});
						}
						this.map.add(marker);
						marker.on('click', function(MapsEvent) {
							that.gid = marker.getTitle()
							var lat = that.mydata[that.gid].pbPdAddress.substring(0, that.mydata[that.gid].pbPdAddress.indexOf(','))
							var lng = that.mydata[that.gid].pbPdAddress.substr(that.mydata[that.gid].pbPdAddress.indexOf(',') + 1)
							AMap.service('AMap.Geocoder', function() {
								var lnglatXY = [lat, lng]
								geocoder = new AMap.Geocoder({
									city: "" //城市，默认：“全国”
								});
								geocoder.getAddress(lnglatXY, function(status, result) {
									if(status === 'complete' && result.info === 'OK') {
										that.adress = result.regeocode.formattedAddress
										that.informshow()
									} else {
										//获取地址失败
										console.log(result)
									}
								});
							})

						})
					}
				},
				filters: {
					myadress: function(value) {
						var that = this
						var lat = value.substring(0, value.indexOf(','))
						var lng = value.substr(value.indexOf(',') + 1)
						var p1 = [lat, lng]
						var p2 = [localStorage.getItem('lng'), localStorage.getItem('lat')]
						return parseInt(AMap.GeometryUtil.distance(p1, p2));
					}
				}
			})
		</script>
	</body>

</html>