<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<title></title>
	</head>

	<body>
		<div class="wrapper luck">
			<!--头部-->
			<div class="header">
				<div class="head-tab mui-action-back">
					<img src="img/Arrow_Simple_left Copy@2x.png" class="back" />
				</div>
				<div class="head-main">
					挖宝
				</div>
				<div class="head-tab" @click="opennew('discount')">
					我的奖品
				</div>
			</div>
			<!--中间主体-->
			<div class="main big-main">
				<div class="alert" v-show="alertboo" @click="alertshow">
					<div class="alert-inner">
						<img src="img/Group 10@2x.png" />
						<div class="text">{{jname}}</div>
						<div class="button" @click.stop="discount()">
							{{jname=='很遗憾,您未中奖！'?'确定':'立即查看'}}
						</div>
					</div>
				</div>
				<div class="luck-top">
					<div class="gonggao">
						<img src="img/Share@3x.png" />
						<div>尾号6011的用户获得奖励金10元</div>
					</div>
					<div class="luck-main">
						<div class="luck-left">
							<div class="luck-box" :class="myindex==val.pbCouponId?'active':''" v-for="(val,index) in jdata" v-if="index<8">
								<img src="img/Group 10@2x.png" />
							</div>
						</div>
						<div class="luck-middle">
							<div class="luckm-top">
								<div class="luck-box" :class="myindex==val.pbCouponId?'active':''" v-for="(val,index) in jdata" v-if="index<26&index>20">
									<img src="img/Group 10@2x.png" />
								</div>
							</div>
							<img src="img/Group 8@2x.png" />
							<div class="price">剩余积分：{{usUwIntegral}}</div>
							<div class="go" @click="go">
								<p>开始挖宝</p>
								<p>{{mydata.pbLdrIntegral}}积分一次</p>
							</div>
							<div class="luckm-top">
								<div class="luck-box" :class="myindex==val.pbCouponId?'active':''" v-for="(val,index) in jdata" v-if="index<13&index>7">
									<img src="img/Group 10@2x.png" />
								</div>
							</div>
						</div>
						<div class="luck-left">
							<div class="luck-box" :class="myindex==val.pbCouponId?'active':''" v-for="(val,index) in jdata" v-if="index<21&index>12">
								<img src="img/Group 10@2x.png" />
							</div>
						</div>
					</div>
				</div>
				<h2>
					活动规则
				</h2>
				<ul>
					<li>挖宝所得奖品需要分享{{mydata.pbLdrShareNum}}次，才可以使用。</li>
					<li>挖宝所得奖品有效期是{{mydata.pbLdrTime}}天。</li>
					<li>奖品最终解释权归本公司所有。</li>
				</ul>
			</div>
		</div>
		<script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var myvue = new Vue({
				el: '.wrapper',
				data: {
					myindex: '',
					time: 0,
					jdata: [],
					jname: '',
					alertboo: false,
					mydata: {
						pbLdrIntegral: 0,
						pbLdrShareNum: 0,
						pbLdrTime: 0
					},
					usUwIntegral: '',
					status: true
				},
				methods: {
					myajax: function() {
						var that = this
						//						查询活动规则
						$.ajax({
							type: "post",
							url: localStorage.getItem('myurl') + "/user/deduction",
							dataType: 'json',
							data: {
								status: 2
							},
							success: function(res) {
								console.log(res)
								if(res.data != null) {
									that.mydata = res.data
								}
							}
						});
						//						获取所有的优惠卷
						$.ajax({
							type: "post",
							url: localStorage.getItem('myurl') + "/share/getDiscounts",
							dataType: 'json',
							data: {
								pageNum: 1
							},
							success: function(res) {
								for(var i = 0; i < res.data.list.length; i++) {
									that.jdata.push(res.data.list[i])
								}
								that.myindex = that.jdata[0].pbCouponId
								var index = 26 - that.jdata.length
								if(that.jdata.length < 26) {
									for(var i = 0; i < index; i++) {
										that.jdata.push({
											pbCouponId: i + that.jdata.length
										})
									}
								}
							}
						});

					},
					findIntegral:function(){
						var that=this
						//						获取积分
						$.ajax({
							type: "post",
							url: localStorage.getItem('myurl') + "/user/findIntegral",
							dataType: 'json',
							data: {
								userId: localStorage.getItem('usUserId'),
								status: 2
							},
							success: function(res) {
								that.usUwIntegral=res.data.usUwIntegral
							}
						});
					},
					discount: function() {
						if(this.jname == '很遗憾,您未中奖！' || this.jname == '您的积分不足！') {
							this.alertshow()
						} else {
							this.opennew('discount')
						}
					},
					go: function() {
						if(this.status == true) {
							this.status = false
							var that = this
							if(localStorage.getItem('usUwIntegral') < that.mydata.pbLdrIntegral) {
								this.jname = '您的积分不足！'
								this.alertshow()
								return false;
							}
							$.ajax({
								type: "post",
								url: localStorage.getItem('myurl') + "/user/useIntegral",
								dataType: 'json',
								data: {
									status: 2,
									userId: localStorage.getItem('usUserId'),
									integral: that.mydata.pbLdrIntegral
								},
								success: function(res) {
									localStorage.setItem('usUwIntegral', localStorage.getItem('usUwIntegral') - that.mydata.pbLdrIntegral)
								}
							});
							var myset = setInterval(function() {
								if(that.time < 30) {
									that.myindex = that.jdata[Math.floor(Math.random() * 25)].pbCouponId
									that.time++
								} else {
									that.time = 0
									clearInterval(myset)
									that.findIntegral()
									var index=Math.floor(Math.random() * 25)
									if(that.jdata[index].pbCoName == undefined || that.jdata[index].pbCoName == 'undefined') {
										that.jname = '很遗憾,您未中奖！'
									} else {
										that.jname = '恭喜您，抽到' + that.jdata[index].pbCoName
										var ajaxjson = {
											userId: localStorage.getItem('usUserId'),
											couponId: that.jdata[index].pbCouponId
										}
										console.log(ajaxjson)
										$.ajax({
											type: "post",
											url: localStorage.getItem('myurl') + "/user/setUserCoupon",
											dataType: 'json',
											data: ajaxjson,
											success: function(res) {
												console.log(res)
											}
										});
									}
									that.myindex = 26
									that.status = true
									that.alertshow()
								}
							}, 150)
						}

					},
					alertshow: function() {
						this.alertboo = !this.alertboo
					},
					opennew: function(target) {
						mui.openWindow({
							url: './' + target + '.html',
							id: target
						})
					}
				},
				mounted: function() {
					this.myajax()
					this.findIntegral()
				}
			})
		</script>
	</body>
	<style type="text/css">
		.luck-box img {
			width: 80%!important;
			margin: 0!important;
		}
	</style>

</html>