<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<title></title>
	</head>
	<body>
		<div class="wrapper plogin">
			<!--头部-->
			<div class="header">
				<div class="head-tab">
					
				</div>
				<div class="head-main">
					登录
				</div>
				<div class="head-tab" href="javascript:void(0)">
					
				</div>
			</div>
			<!--中间主体-->
			<div class="main big-main">
				<div class="main-inner">
					<div class="titile">账号密码登录  <small style="font-size: .2rem;">(首次注册请使用快捷登陆)</small></div>
					<div class="input-box">
						<input type="number" placeholder="请输入手机号" v-model="usCpPhone"/>
					</div>
					<div class="input-box">
						<input :type="ptype" placeholder="请输入密码" v-model="usCpPassword"/>
						<img src="img/number (1).png" @click="changetype('text')" v-if="ptype=='password'"/>
						<img src="img/number (2).png" @click="changetype('password')" v-if="ptype=='text'"/>
					</div>
					
					<div class="login-type" style="justify-content: space-between;">
						<a href="wlogin.html">忘记密码?</a>
						<a href="plogin.html">手机快捷登录</a>
					</div>
					<div class="login-type" style="justify-content: space-between;margin: 1.3rem .2rem 0  0;">
						<a href="javascript:void(0)"></a>
						<a href="javascript:void(0)" style="display: flex;align-items: center;">
							<input type="checkbox" v-model="pwdboo"/>记住密码
						</a>
					</div>
					<div class="login" @click="login" style="margin: 0;">登录</div>
					<div class="login-type">
						<div @click="opennew('Agreement','')">登陆即视为同意 	<strong>《豆豆洗注册协议》</strong></div>
					</div>
					
					<div class="three">
						<div class="thre-title">第三方登录 </div>
						<div class="three-box">
							<a href="javascript:void(0)" @click="qqlogin"><img src="img/QQ@2x.png"/></a>
							<a href="javascript:void(0)" @click="authorize"><img src="img/wxin.png"/></a>
						</div>
					</div>
				</div>
				<div class="alert" v-if="alertboo" @click="alertshow('')">
					<div class="alert-inner">
						<div class="alert-top">豆豆洗</div>
						<div class="text alert-text">{{alerttext}}</div>
						<div class="button">确定</div>
					</div>
				</div>
			</div>
		</div>
		<script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var myvue=new Vue({
				el:'.wrapper',
				data:{
					ptype:'password',
					usCpPassword:localStorage.getItem('usPassword'),
					usCpPhone:localStorage.getItem('usPhone'),
					alertboo :false,
					alerttext:'',
					auths:'',
					aweixin:'',
					pwdboo:true
				},
				methods:{
					alertshow:function(text){
						this.alerttext=text
						this.alertboo=!this.alertboo
					},
					login:function(){
						var that=this
//						15805204773//  123456//
						if(that.usCpPhone==''||that.usCpPassword==''){
							that.alertshow('账号和密码都不能为空！')
							return false;
						}
						function plusReady(){
							// 弹出系统等待对话框
							var w = plus.nativeUI.showWaiting( "等待中..." );
						}
						if(window.plus){
							plusReady();
						}else{
							document.addEventListener("plusready",plusReady,false);
						}
						$.ajax({
							type:"post",
							url:localStorage.getItem('myurl')+"/user/registerUser",
							dataType:'json',
							data:{
								index:4,
								code:that.usCpPhone,
								password:that.usCpPassword
							},
							success:function(res){
								console.log(res)
								if(res.status==200){
									if(res.data.usStatus==1){
										localStorage.setItem('usPhone',res.data.usPhone)
										localStorage.setItem('usShareCode',res.data.usShareCode)
										if(that.pwdboo){
											localStorage.setItem('usPassword',that.usCpPassword)
										}
										localStorage.setItem('usUserId',res.data.usUserId)
										localStorage.setItem('usHeadImg',res.data.usHeadImg)
										localStorage.setItem('usNickName',res.data.usNickName)
										localStorage.setItem('usCardId',res.data.usCardId)
										localStorage.setItem('usPayPassword', res.data.usPayPassword)
										localStorage.setItem('usAliPayCode', res.data.usAliPayCode)
										localStorage.setItem('usWeChatPayCode',res.data.usWeChatPayCode)
										mui.openWindow({
											url: './index.html',
											id: 'index',
											createNew:true
										})
									}else{
										that.alertshow('您的账户已被冻结！')
									}
								}else{
									that.alertshow(res.msg)
								}
							}
						});
						function plusReady(){
							// 弹出系统等待对话框
							var w = plus.nativeUI.closeWaiting()
						}
						if(window.plus){
							plusReady();
						}else{
							document.addEventListener("plusready",plusReady,false);
						}
					},
					changetype:function(text){
						this.ptype=text
					},
					opennew:function(target,id){
						mui.openWindow({
							url:'./'+target+'.html',
							id:target
						})
					},
					qqlogin:function(){
						plus.nativeUI.toast('程序员正在夜以继日开发中！')
					},
					authorize:function(){
						var that=this
						var s = that.auths[0];
//						if ( s.authResult!=undefined ) {
							s.login( function(e){
								// 获取登录操作结果
								console.log( "登录认证成功："+JSON.stringify(e.target.userInfo) );
								$.ajax({
									type:"post",
									url:localStorage.getItem('myurl')+"/user/registerUser",
									dataType:'json',
									data:{
										index:3,
										code:e.target.userInfo.openid
									},
									success:function(res){
										console.log(JSON.stringify(res))
										if(res.status==200){
											if(res.data.usStatus==1){
												if(res.data.usPhone!=null||res.data.usPhone!=undefined){
													localStorage.setItem('usPhone',res.data.usPhone)
												}else{
													localStorage.setItem('usPhone','微信用户')
												}
												localStorage.setItem('usShareCode',res.data.usShareCode)
												localStorage.setItem('usUserId',res.data.usUserId)
												localStorage.setItem('usHeadImg',res.data.usHeadImg)
												localStorage.setItem('usNickName',e.target.userInfo.nickname)
												window.location.href='./index.html'
											}else{
												that.alertshow('您的账户已被冻结！')
											}
										}else{
											that.alertshow(res.msg)
										}
									},error:function(err){
										console.log(JSON.stringify(err))
									}
								});
							}, function(e){
								console.log( "登录认证失败！" );
							}, {} );
//						}else{
//							console.log('wsb')
//						}
					}
				},
				mounted:function(){
					var that=this
//					localStorage.setItem('myurl','http://27.54.248.14:8080')
//					localStorage.setItem('myurl','http://192.168.2.245')
					localStorage.setItem('myurl','http://47.100.104.251:8081')
					// 监听plusready事件  
					document.addEventListener('plusready', function(){
						// 扩展API加载完毕，现在可以正常调用扩展API
						plus.oauth.getServices( function(services){
							that.auths = services;
							that.aweixin = services['weixin'];
						}, function(e){
							alert("获取分享服务列表失败："+e.message+" - "+e.code);
						} );
					}, false );
				}
			})
		</script>
	</body>
</html>