<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<title></title>
	</head>
	<body>
		<div class="wrapper nav">
			<!--头部-->
			<div class="header">
				<div class="head-tab mui-action-back">
					<img src="img/Arrow_Simple_left Copy@2x.png" class="back"/>
				</div>
				<div class="head-main">
					分类中心
				</div>
				<div class="head-tab" @click="opennew('share')">
					分享
				</div>
			</div>
			<!--中间主体-->
			<div class="main">
				<div class="mynav">
					<div class="nav-tab" v-for='(val,index) in navtext' :class="navindex==index?'active':''" @click="tab(index)">
						<div class="nav-text">{{val}}</div>
						<div class="nav-circle"></div>
					</div>
				</div>
				<div class="subnav">
					<div class="subnav-item"  :class="subindex==0?'active':''" @click="subindexchange(0)">大衣外套</div>
					<div class="subnav-item"  :class="subindex==1?'active':''" @click="subindexchange(1)">上衣</div>
					<div class="subnav-item"  :class="subindex==2?'active':''" @click="subindexchange(2)">童装</div>
					<div class="subnav-item"  :class="subindex==3?'active':''" @click="subindexchange(3)">配饰</div>
				</div>
				<div class="shop-box">
					<div class="shop" v-for="(val,index) in mydata">
						<div class="img-box" @click="opennew('shop-detail')">
							<img src="img/shop.jpg"/>
						</div>
						<div class="price-box">
							<div class="name">{{val.name}}</div>
							<div class="price">￥{{val.price}}</div>
						</div>
						<div class="add-box">
							<img src="img/Close-2 Copy 9@2x.png" @click.stop="addnum('j',index)"/>
							<div class="num">{{val.num}}</div>
							<img src="img/Close-2 Copy 6@2x.png" @click.stop="addnum('z',index)"/>
						</div>
					</div>
				</div>
				<div class="cart-alert" v-if="alertboo" @click="alertshow">
					<div class="cart-inner">
						<div class="cart-top">
							<img src="img/Trash@2x.png" @click.stop="clear"/>
							<div class="text" @click.stop="clear">清空洗衣篮</div>
						</div>
						<div class="cart" v-for="val in cartdata">
							<div class="cart-name">{{val.name}}</div>
							<div class="cart-num">￥{{val.price}}</div>
							<div class="cart-setting">
								<div>x{{val.num}}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom">
				<div class="nav-left" @click="alertshow">
					<img src="img/Basket@2x.png"/>
					<div class="bprice">合计:￥60</div>
				</div>
				<div class="nav-right" @click="opennew('pay')">
					去结算
				</div>
			</div>
		</div>
		<script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var myvue=new Vue({
				el:'.wrapper',
				data:{
					navtext:[
						'上衣',
						'裤裙',
						'鞋类',
						'家纺',
						'包包'
					],
					navindex:0,
					subindex:0,
					alertboo:false,
					mydata:[
						{
							name:'羊毛衫',
							num:0,
							price:16
						},
						{
							name:'衬衫',
							num:0,
							price:10
						},
						{
							name:'羽绒服',
							num:0,
							price:20
						},
						{
							name:'T恤',
							num:0,
							price:10
						},
						{
							name:'短裤',
							num:0,
							price:10
						},
						{
							name:'长裤',
							num:0,
							price:12
						},
						{
							name:'夹克',
							num:0,
							price:15
						}
					],
					cartdata:[]
				},
				methods:{
					clear:function(){
						this.cartdata=[]
					},
					addnum:function(type,index){
						if(type=='j'){
							if(this.mydata[index].num>0){
								this.mydata[index].num--
							}
						}else{
							this.mydata[index].num++
						}
					},
					tab:function(index){
						this.navindex=index
					},
					alertshow:function(){
						var that=this
						if(!that.alertboo){
							that.cartdata=[]
							for (var i=0;i<that.mydata.length;i++) {
								if(that.mydata[i].num>0){
									that.cartdata.push(that.mydata[i])
								}
							}
						}
						this.alertboo=!this.alertboo
					},
					opennew:function(target){
						mui.openWindow({
							url:'./'+target+'.html',
							id:target
						})
					},
					subindexchange:function(index){
						this.subindex=index
					}
				},
				mounted:function(){
					
				}
			})
		</script>
	</body>
</html>