<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="css/style/nav.css" />
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<title></title>
	</head>

	<body>
		<div class="wrapper nav shopdetail">
			<!--头部-->
			<div class="header">
				<div class="head-tab" v-if="!detailboo"  @click="opennew('index')">
					<img src="img/Arrow_Simple_left Copy@2x.png" class="back" />
				</div>
				<div class="head-tab" v-if="detailboo" @click="back">
					<img src="img/Arrow_Simple_left Copy@2x.png" class="back" />
				</div>
				<div class="head-main">
					分类中心
				</div>
				<div class="head-tab" @click="opennew('share')">
					分享
				</div>
			</div>
			<!--中间主体-->
			<div class="main" style="background: #FFFFFF;" v-if="!detailboo">
				<div class="mynav">
					<div class="nav-tab" v-for='(val,index) in onedata' :class="navindex==index?'active':''" @click="tab(index,val.pbClothesOneId)">
						<div class="nav-text">{{val.pbCoName}}</div>
						<div class="nav-circle"></div>
					</div>
				</div>
				<div class="subnav">
					<div class="subnav-inner">
						<div class="subnav-item" :class="subindex==index?'active':''" @click="subindexchange(index,val.pbClothesTwoId)" v-for="(val,index) in twodata">{{val.pbCtName}}</div>
					</div>
				</div>
				<div class="shop-box">
					<div class="shop" v-for="(val,index) in threedata">
						<div class="img-box" @click="usCommunityPartnerSaleId(val.saleId,index)">
							<img :src="val.cdImg | myimg" />
						</div>
						<div class="price-box">
							<div class="name">{{val.cdName}}</div>
							<div class="price">￥{{val.price}}</div>
						</div>
						<div class="add-box">
							<img src="img/Close-2 Copy 9@2x.png" @click.stop="addnum('j',index)" />
							<div class="num">{{val.countNum}}</div>
							<img src="img/Close-2 Copy 6@2x.png" @click.stop="addnum('z',index)" />
						</div>
					</div>
				</div>
			</div>
			<!--购物车弹出层-->
			<div class="cart-alert" v-if="alertboo" @click="alertshow">
				<div class="cart-inner">
					<div class="cart-top">
						<img src="img/Trash@2x.png" @click.stop="clear" />
						<div class="text" @click.stop="clear">清空购物车</div>
					</div>
					<div class="cart" v-for="(val,index) in cartdata[1]" v-if='cartdata[1][0]!=null'>
						<div class="cart-name">{{val.pbCdName}}</div>
						<div class="cart-num">￥{{val.usLbcPrice}}</div>
						<div class="cart-setting">
							<img src="img/Close-2 Copy 9@2x.png" @click.stop="changenum('j',index)" />
							<div>x{{val.usLbcNum}}</div>
							<img src="img/Close-2 Copy 6@2x.png" @click.stop="changenum('z',index)" />
						</div>
					</div>
				</div>
			</div>
			<!--详情弹出层-->
			<div class="main" v-if='detailboo'>
				<div class="img-box">
					<img :src="mydata.pbCdImg | myimg" />
				</div>
				<div class="detail-inner">
					<div class="name">
						{{mydata.pbCdName}}
					</div>
					<div class="price">
						￥{{mydata.usCpsSalePrice}}
					</div>
					<div class="setting">
						<img src="img/Close-2 Copy 9@2x.png" @click.stop="addnum('j',index)" />
						<div>{{threedata[index].countNum}}</div>
						<img src="img/Close-2 Copy 6@2x.png" @click.stop="addnum('z',index)" />
					</div>
				</div>
				<div class="process">
					<div class="process-title">清洗流程</div>
					<div class="process-title" style="margin: 0 .3rem;">
						{{mydata.pbCcpContent==0?'暂无流程':mydata.pbCcpContent}}
					</div>
				</div>
			</div>
			<div class="bottom">
				<div class="nav-left" @click="alertshow">
					<img src="img/Basket@2x.png" />
					<div class="bprice">合计:￥{{cartdata[0].usLbPrice}}</div>
				</div>
				<div class="nav-right" @click="pay()">
					去结算
				</div>
			</div>
			<div class="alert" v-if='luckboo'>
				<div class="alert-inner">
					<div class="alert-top">豆豆洗</div>
					<div class="text">恭喜您，发现挖宝活动！</div>
					<div class="button">
						<div @click="opennew('luck02')">立即参与</div>
						<div @click="luckshow">含泪放弃</div>
					</div>
				</div>
			</div>
		</div>
		<script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var myvue = new Vue({
				el: '.wrapper',
				data: {
					onedata: [],
					twodata: [],
					threedata: [],
					navindex: 0,
					subindex: 0,
					alertboo: false,
					cartdata: [],
					allnum: 0,
					detailboo: false,
					index: 0,
					mydata: '',
					luckboo: false,
					threeid: ''
				},
				methods: {
					luckshow: function() {
						this.luckboo = !this.luckboo
					},
					pay: function() {
						if(this.cartdata[1][0]==null) {
							plus.nativeUI.toast('您还没有选择衣物呢!')
							return false;
						}
						if(localStorage.getItem('usPhone')=='微信用户'){
							plus.nativeUI.toast('您还没有绑定手机号!')
							this.opennew('pphone')
							return false;
						}
						localStorage.setItem('cartdata', JSON.stringify(this.cartdata))
						this.opennew('pay')
					},
					back: function() {
						var that = this
						that.detailboo = !that.detailboo
					},
					usCommunityPartnerSaleId: function(id, index) {
						var that = this
						that.index = index
						$.ajax({
							type: "post",
							url: localStorage.getItem('myurl') + "/user/getClotheDetails",
							dataType: 'json',
							data: {
								saleId: '1'
							},
							success: function(res) {
								that.mydata = res.data
								that.detailboo = !that.detailboo
							}
						});
					},
					havecart: function() {
						var that = this
						//						查询我的购物车
						$.ajax({
							type: "post",
							url: localStorage.getItem('myurl') + "/user/getMyBasket",
							dataType: 'json',
							data: {
								usUserId: localStorage.getItem('usUserId')
							},
							success: function(res) {
								console.log(res)
								that.cartdata = res.data
							}
						});
					},
					myajax: function() {
						var that = this
						$.ajax({
							type: "post",
							url: localStorage.getItem('myurl') + "/user/getClothes",
							dataType: 'json',
							data: {
								deviceId: localStorage.getItem('pbPartnerDeviceId')
							},
							success: function(res) {
								that.onedata = res.data
								if(res.data != null) {
									that.havetwo(res.data[that.navindex].pbClothesOneId)
								}
							}
						});
					},
					havetwo: function(id) {
						var that = this
						$.ajax({
							type: "post",
							url: localStorage.getItem('myurl') + "/user/getClothesTwoByOneId",
							dataType: 'json',
							data: {
								deviceId: localStorage.getItem('pbPartnerDeviceId'),
								pbClothesOneId: id
							},
							success: function(res) {
								that.twodata = res.data
								that.havethree(res.data[0].pbClothesTwoId)
							}
						});
					},
					havethree: function(id) {
						var that = this
						that.threeid = id
						$.ajax({
							type: "post",
							url: localStorage.getItem('myurl') + "/user/selectClotheTwo",
							dataType: 'json',
							async: true,
							data: {
								pbPartnerDeviceId: localStorage.getItem('pbPartnerDeviceId'),
								pbClothesTwoId: that.threeid,
								usCommunityPartnerId: localStorage.getItem('pbCommunityPartnerId'),
								usUserId: localStorage.getItem('usUserId')
							},
							success: function(res) {
								that.threedata = res.data

								function plusReady() {
									// 弹出系统等待对话框
									plus.nativeUI.closeWaiting()
								}
								if(window.plus) {
									plusReady();
								} else {
									document.addEventListener("plusready", plusReady, false);
								}
							}
						});

						function plusReady() {
							// 弹出系统等待对话框
							plus.nativeUI.closeWaiting()
						}
						if(window.plus) {
							plusReady();
						} else {
							document.addEventListener("plusready", plusReady, false);
						}
					},
					clear: function() {
						var that = this
						// H5 plus事件处理
						function plusReady() {
							// 弹出系统等待对话框
							plus.nativeUI.showWaiting("删除中...");
						}
						if(window.plus) {
							plusReady();
						} else {
							document.addEventListener("plusready", plusReady, false);
						}
						$.ajax({
							type: "post",
							url: localStorage.getItem('myurl') + "/user/deleteMyBasket",
							dataType: 'json',
							data: {
								usUserId: localStorage.getItem('usUserId'),
								usLaundryBasketId: that.cartdata[0].usLaundryBasketId
							},
							success: function(res) {
								that.havecart()
								that.havethree(that.threeid)
							}
						});
						this.alertboo = !this.alertboo

						function plusReady() {
							// 弹出系统等待对话框
							plus.nativeUI.closeWaiting()
						}
						if(window.plus) {
							plusReady();
						} else {
							document.addEventListener("plusready", plusReady, false);
						}
					},
					//					购物车中加减
					changenum: function(type, index) {
						function plusReady() {
							// 弹出系统等待对话框
							plus.nativeUI.showWaiting("等待中...");
						}
						if(window.plus) {
							plusReady();
						} else {
							document.addEventListener("plusready", plusReady, false);
						}
						var that = this
						var num = this.cartdata[1][index].usLbcNum
						if(type == 'j') {
							num--
						} else {
							num++
						}
						var ajaxjson = {
							usLaundryBasketId: that.cartdata[0].usLaundryBasketId,
							usCommunityPartnerSale: that.cartdata[1][index].usCommunityPartnerSaleId,
							usLbcNum: num,
							usLbcPrice: that.cartdata[1][index].usCpsSalePrice,
							usLaundryBasketChildId: that.cartdata[1][index].usLaundryBasketChildId
						}
						console.log(ajaxjson)
						$.ajax({
							type: "post",
							url: localStorage.getItem('myurl') + "/user/updateMyBasketDetail",
							dataType: 'json',
							data: ajaxjson,
							success: function(res) {
								that.havethree(that.threeid)
								that.havecart()
							}
						});
					},
					//					详情中加减
					addnum: function(type, index) {

						var that = this
						var boo = false
						var num = that.threedata[index].countNum
						if(num != 0) {
							function plusReady() {
								// 弹出系统等待对话框
								plus.nativeUI.showWaiting("等待中...");
							}
							if(window.plus) {
								plusReady();
							} else {
								document.addEventListener("plusready", plusReady, false);
							}
							//							修改购物车
							if(type == 'j') {
								num--
							} else {
								num++
							}
							var ajaxjson = {
								usLaundryBasketId: that.cartdata[0].usLaundryBasketId,
								usCommunityPartnerSale: that.threedata[index].saleId,
								usLbcNum: num,
								usLbcPrice: that.threedata[index].price,
								usLaundryBasketChildId: that.threedata[index].childId
							}
							$.ajax({
								type: "post",
								url: localStorage.getItem('myurl') + "/user/updateMyBasketDetail",
								dataType: 'json',
								data: ajaxjson,
								success: function(res) {
									that.havecart()
									that.havethree(that.threeid)
								}
							});
						} else if(type == 'z') {
							function plusReady() {
								// 弹出系统等待对话框
								plus.nativeUI.showWaiting("等待中...");
							}
							if(window.plus) {
								plusReady();
							} else {
								document.addEventListener("plusready", plusReady, false);
							}
							//							加入购物车
							var ajaxjson = {
								usLaundryBasketId: that.cartdata[0].usLaundryBasketId,
								usCommunityPartnerSale: that.threedata[index].saleId,
								usLbcNum: 1,
								usLbcPrice: that.threedata[index].price
							}
							$.ajax({
								type: "post",
								url: localStorage.getItem('myurl') + "/user/thrustMyBasketDetail",
								dataType: 'json',
								data: ajaxjson,
								success: function(res) {
									that.havecart()
									that.havethree(that.threeid)
								}
							});
						}
					},
					tab: function(index, id) {
						this.navindex = index
						this.subindex = 0
						this.havetwo(id)
					},
					alertshow: function() {
						var that = this
						if(!that.alertboo) {

						}
						this.alertboo = !this.alertboo
					},
					opennew: function(target) {
						mui.openWindow({
							url: './' + target + '.html',
							id: target,
							createNew: true
						})
					},
					subindexchange: function(index, id) {
						this.subindex = index
						this.havethree(id)
					}
				},
				mounted: function() {
					var that = this
					that.myajax()
					that.havecart()
					localStorage.setItem('pbCoPrice', '')
					localStorage.setItem('pbCoName', '')
					localStorage.setItem('cartdata', '')
					localStorage.setItem('pbCoLimitPrice','')
				},
				filters: {
					myimg: function(value) {
						return localStorage.getItem('myurl') + value.substring(value.indexOf('D:') + 1)
					}
				}
			})
		</script>
	</body>

</html>