<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<title></title>
	</head>
	<body>
		<div class="wrapper new">
			<!--头部-->
			<div class="header">
				<div class="head-tab mui-action-back">
					<img src="img/Arrow_Simple_left Copy@2x.png" class="back"/>
				</div>
				<div class="head-main">
					消息
				</div>
				<div class="head-tab">
					
				</div>
			</div>
			<!--中间主体-->
			<div class="main big-main">
				<div class="nav-tab" @click="opennew('new-order',navdata[0].pbNewStyleId)" v-if="navdata!=''">
					<div class="img-box type01" >
						<img :src="navdata[0].pbNsImgUrl"/>
					</div>
					<div class="new-main" style="height: .8rem;">
						<div class="new-title">
							<div class="title">订单状态</div>
							<div class="time">{{navdata[0].pbNmCreateTime}}</div>
						</div>
						<div class="text">{{navdata[0].pbNwContent}}</div>
					</div>
				</div>
				<div class="nav-tab" @click="opennew('new-gonggao',navdata[1].pbNewStyleId)" v-if="navdata!=''">
					<div class="img-box type02" >
						<img :src="navdata[1].pbNsImgUrl"/>
					</div>
					<div class="new-main" style="height: .8rem;">
						<div class="new-title">
							<div class="title">公告 </div>
							<div class="time">{{navdata[1].pbNmCreateTime}}</div>
						</div>
						<div class="text">{{navdata[1].pbNwContent}}</div>
					</div>
				</div>
			</div>
		</div>
		<script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var myvue=new Vue({
				el:'.wrapper',
				data:{
					navdata:'',
					navdata01:''
				},
				methods:{
					opennew:function(target,pbNewStyleId){
						localStorage.setItem('pbNewStyleId',pbNewStyleId)
						mui.openWindow({
							url:'./'+target+'.html',
							id:target
						})
					},
					myajax:function(){
						var that=this
	//					公告消息
						$.ajax({
							type:"post",
							url:localStorage.getItem('myurl')+"/user/findNewsStyle",
							dataType:'json',
							data:{
								userId:localStorage.getItem('usUserId'),
								roleId:1
							},
							success:function(res){
								console.log(res)
								that.navdata=res.data
							}
						});
					}
				},
				mounted:function(){
					this.myajax()
				}
			})
		</script>
	</body>
</html>